<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="content-section">

	<form method="POST">
		{%csrf_token%}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Join Today</legend>
			{{form}}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Sign Up</button>
			
		</div>
	</form>
	<div class="border-top pt-3">
		<small class="text-muted">
		Alredy have an account?<a class="ml-2" href="#">Sign In</a>
		</small>
	</div>
</div>