{% include "includes/header.html"%}

<h1>Hello from movies post</h1>
{{ movie_list.name }},{{movie_list.tags}}
<p>{{language_name.language_name}}{{movie_list.Release.year}}</p>


{% for t in cast%}
{{t.cast_name_id}}
{%endfor%}


{{country_list.country_name}}

<p>
{% for x in cast_name%}
{% if not forloop.first %}, {% endif %}
{{x|join:""}}
{%endfor%}
</p>
<p>
{% for x in director_name%}

{{x|join:""|add:","}}

{%endfor%}
</p>

{% for t in season%}
{{t.season_name}}
{%endfor%}


<p>
{% for x in season %}

{{x|join:""|add:","}}

{%endfor%}
</p>
<p>
{% for x in episode %}

{{x|join:""|add:","}}

{%endfor%}
</p>
{% for x in genre_name %}

{{x|join:""|add:","}}

{%endfor%}
</p>

{% for t in language_name%}
{{t.language_name}}
{%endfor%}


<p>
{% for x in link %}

{{x|join:""|add:","}}

{%endfor%}
</p>

<div>
{% for j in quality %}

{{j}}

{%endfor%}
</div>
<div>
{% for j in server_name %}

{{j}}

{%endfor%}
</div>
<div>
{% for j in server_type %}

{{j}}

{%endfor%}
</div>

<div>
{% for j in subtitle_list %}

{{j.subtitle_name_id}}

{%endfor%}
</div>

<div>
{% for j in subtitle_name %}

{{j}}

{%endfor%}
</div>

<div>
{% for j in writer %}

{{j.writer_name_id}}

{%endfor%}
</div>

<p>
{% for x in writer_name %}

{{x|join:""|add:","}}

{%endfor%}
</p>











{{pics.id}}
<p>{{season.season_name}}(seasonname)</p>
<p>{{episode.episode_name}}</p>
<h2>{{subtitle_list.subtitle_name_id}}(subtitle_name_list_id)</h2>
<h3>{{subtitle_name.subtitle_name}}(subtile_name)</h3>



<ul>
	{% for quality in best_quality %}
		


	{%endfor%}
</ul>


<!--  <img style="height:200px;height:200px"src="../../media/{{cast_pics.pic_link}}">   -->
{% include 'includes/Footer.html' %}

 
 







